<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Резюме</title>
    <link rel="stylesheet" href="../../static/css/new_css/infoRes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="resume-info-header">
        <nav class="resume-info-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="../../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <a class="personal-cabinet-logo" href="#">
                <img src="../../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
            </a>
        </nav>
    </header>
    <main class="resume-info-main">
        <div class="resume">
            <div class="resume-info">
                <p class="resume-info-head">{{addInfo.profession}}</p>
                <p class="resume-info-salary">{{addInfo.profession}}</p>
                <p class="resume-info-workplace">{{addInfo.profession}}</p>
            </div>
            <div class="resume-buttons">
                <button type="button" class="hide-resume-button">Вернуться</button>
            </div>
        </div>
        <div class="resume-block">
            <div class="resume-about">
                <p class="resume-about-header">Личная информация:</p>
                <ul class="resume-about-items">
                    <li class="resume-about-item">
                        {{user.first_name}} {{user.last_name}}, {{profile.age}} лет
                    </li>
                    <li class="resume-about-item">
                        Почта: {{user.email}}
                    </li>
                    <li class="resume-about-item">
                        Телефон: {{profile.phone_number}}
                    </li>
                </ul>
            </div>
            <div class="resume-about">
                <p class="resume-about-header">Навыки:</p>
                <ul class="resume-about-items">
                    {% for skill in context.skill %}
                        <li class="resume-about-item">
                            {{skill.skill_name}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="resume-about">
                <p class="resume-about-header">Образование:</p>
                <ul class="resume-about-items">
                    <li class="resume-about-item">
                        Уровень образования: {{context.education.level}}
                    </li>
                    <li class="resume-about-item">
                        Учебное заведение: {{context.education.place}}
                    </li>
                    <li class="resume-about-item">
                        Дата окончания: {{context.education.year}}
                    </li>
                </ul>
            </div>
            <div class="resume-about">
                <p class="resume-about-header">Опыт работы:</p>
                {% for work in context.work_experience%}
                <ul class="resume-about-items">
                    <li class="resume-about-item">
                        Профессия: {{work.job_title}}
                    </li>
                    <li class="resume-about-item">
                        Компания: {{work.company}}
                    </li>
                    <li class="resume-about-item">
                        Дата начала работы: {{work.start_date}}
                    </li>
                    <li class="resume-about-item">
                        Дата конца работы: {{work.end_date}}
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="resume-block">
          <div class="resume-about">
            <p class="resume-about-header">Достижения:</p>
            <ul class="resume-about-items achievments">
                {% for ach in context.achievements %}
                    <li class="resume-about-item">
                      <img src="../../media/{{ach.ach_image}}" data-fullsize="../../media/{{ach.ach_image}}" width="100" height="120">
                    </li>
                {% endfor %}
            </ul>
              <div id="imageModal" class="modal">
              <img id="modalImage" src="" alt="Full-size Image">
            </div>
          </div>
        </div>

    </main>
    <footer class="resume-info-footer">
        <nav class="resume-info-footer-nav">
            <ul class="footer-site-navigation">
                <li class="footer-site-navigation-item">
                    <a href="{% url 'contacts' %}">Контакты</a>
                </li>
                <li class="footer-site-navigation-item">
                    <a href="{% url 'about' %}">О нас</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="../../static/js/infoRes.js"></script>
</body>
</html>
