<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PersonalCabinetWork</title>
    <link rel="stylesheet" href="../../static/css/new_css/personal_cabinet_work.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="personal-cabinet-work-header">
        <nav class="personal-cabinet-work-nav">
            <div class="part-nav">
                <a class="logo" href="{% url 'start_page' %}">
                    <img src="../../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
                </a>
                <div class="nav-link">
                    <a href="#">Смотреть отклики</a>
                </div>
            </div>
            <div class="part-nav">
                <div class="nav-link">
                    <a href="{% url 'logout' %}">Выйти</a>
                </div>
                <div class="nav-link">
                    <a href="{% url 'create_vacancy' %}">Создать вакансию</a>
                </div>
                <a class="personal-cabinet-work-logo" href="#">
                    <img src="../../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
                </a>
            </div>
        </nav>
    </header>
    <main class="personal-cabinet-work-main">
        <div class="personal-cabinet-work-fields">
            <div class="personal-cabinet-work-info">
                <div class="radioButtons">
                    <label for="pers-info" class="label-text pers">Личная информация</label>
                    <input type="radio" id="pers-info" name="info-button" checked>
                    <label for="vacancies-info" class="label-text vacancies">Мои вакансии</label>
                    <input type="radio" id="vacancies-info" name="info-button">
                </div>
                <div class="personal-cabinet-work-info-window">
                    <div class="personal-cabinet-work-info-data">
                        <div class="info-name-surname">
                            <p class="info-fname">{{ user.first_name }}</p>
                            <p class="info-lname">{{ user.last_name }}</p>
                        </div>
                        <button name="edit-info-data-button" type="button" class="edit-info-data-button">Редактировать</button>
                    </div>
                    <a class="info-image">
                        <img src="../../static/img/info-image.png" width="280" height="280" alt="Логотип персонального кабинета">
                    </a>
                    <input type="file" title="upload-image" class="upload-image-input" accept="image/*">
                </div>
            </div>
            <div class="fields__toChange">
                <div class="field">
                    <p class="field header">Доп. информация</p>
                    <div class="field window">
                        <div class="field-columns">
                            <div class="field-column main">
                                <p class="field-text">Должность</p>
                                <p class="field-text">Комментарий</p>
                            </div>
                            <div class="field-column">
                                <p class="field-text job">...</p>
                                <p class="field-text comment">...</p>
                            </div>
                        </div>
                        <div class="field-buttons">
                            <button class="field-button job" type="button">Изменить</button>
                            <button class="field-button comment" type="button">Изменить</button>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <p class="field header">Личные данные</p>
                    <div class="field window">
                        <div class="field-columns">
                            <div class="field-column main">
                                <p class="field-text">Пароль</p>
                                <p class="field-text">Email</p>
                                <p class="field-text">Телефон</p>
                            </div>
                            <div class="field-column">
                                <p class="field-text  password">123456SK</p>
                                <p class="field-text  email">namefamily@gmail.com</p>
                                <p class="field-text  phone">+7 903 565 44 76</p>
                            </div>
                        </div>
                        <div class="field-buttons">
                            <button class="field-button password" type="button">Изменить</button>
                            <button class="field-button email" type="button">Изменить</button>
                            <button class="field-button phone" type="button">Изменить</button>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <p class="field header">Спецпризнаки</p>
                    <div class="field window">
                        <div class="field-columns">
                            <div class="field-column main">
                                <p class="field-text">Спецпризнак 1</p>
                                <p class="field-text">Спецпризнак 2</p>
                            </div>
                            <div class="field-column">
                                <p class="field-text special-one">...</p>
                                <p class="field-text special-two">...</p>
                            </div>
                        </div>
                        <div class="field-buttons">
                            <button class="field-button special-one" type="button">Изменить</button>
                            <button class="field-button special-two" type="button">Изменить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../../static/js/personal_cabinet_work.js"></script>
</body>
</html>