<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VacancyInfo</title>
    <link rel="stylesheet" href="../../static/css/new_css/vacancy_info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="vacancy-info-header">
        <nav class="vacancy-info-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="../../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <a class="personal-cabinet-logo" href="#">
                <img src="../../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
            </a>
        </nav>
    </header>
    <main class="vacancy-info-main">
        <div class="vacancy">
            <div class="vacancy-info">
                <p class="vacancy-info-head">{{ vacancy.name }}</p>
                <p class="vacancy-info-salary">{{ vacancy.salary_info }}</p>
                <p class="vacancy-info-company">{{ vacancy.company_name }}</p>
                <p class="vacancy-info-workplace">{{ vacancy.location }}</p>
                <button type="button" class="vacancy-apply-button">Откликнуться</button>
            </div>
            <button type="button" class="favorite-vacancy-button" title="heart-button"></button>
            <script>
              const button = document.querySelector('.favorite-vacancy-button');
              button.addEventListener('click', () => {
                button.classList.toggle('active');
              });
            </script>
        </div>
        <div class="vacancy-block">
            <div class="vacancy-about">
                <p class="vacancy-about-header">Описание:</p>
                <p class="vacancy-about-item">{{ vacancy.description }}</p>
            </div>
            <div class="vacancy-about">
                <p class="vacancy-about-header">Требования:</p>
                <ul class="vacancy-about-items">
                    {% for skill in vacancy.requirements %}
                    <li class="vacancy-about-item">
                        {{ skill }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="vacancy-about">
                <p class="vacancy-about-header">Условия:</p> <!--здесь скорее всего надо парсить будет и цикл-->
                <ul class="vacancy-about-items">
                    <li class="vacancy-about-item">
                        {{ vacancy.conditions }}
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="vacancy-info-footer">
        <nav class="vacancy-info-footer-nav">
            <ul class="footer-site-navigation">
                <li class="footer-site-navigation-item">
                    <a href="">Контакты</a>
                </li>
                <li class="footer-site-navigation-item">
                    <a href="">О нас</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>
