<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vacancy-info</title>
    <link rel="stylesheet" href="../../static/css/new_css/vacancy-info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="vacancy-info-header">
        <nav class="vacancy-info-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="../../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <a class="personal-cabinet-logo" href="#">
                <img src="../../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
            </a>
        </nav>
    </header>
    <main class="vacancy-info-main">
        <div class="vacancy">
            <div class="vacancy-info">
                <p class="vacancy-info-head">Начинающий разработчик</p>
                <p class="vacancy-info-salary">от 50000 Р на руки</p>
                <p class="vacancy-info-company">ООО Альянс</p>
                <p class="vacancy-info-workplace">Екатеринбург</p>
                <button type="button" class="vacancy-apply-button">Откликнуться</button>
            </div>
            <div class="vacancy-buttons">
                <button type="button" class="hide-vacancy-button">Скрыть</button>
                <button type="button" class="add-vacancy-button">+</button>
            </div>
        </div>
        <div class="vacancy-about">
            <p class="vacancy-about-header">Обязанности:</p>
            <ul class="vacancy-about-items">
                <li class="vacancy-about-item">
                    Разработка дизайна для карточек маркетплейсов (Озон, ВБ, Яндекс)
                </li>
                <li class="vacancy-about-item">
                    Подбор фото, обработка и ретушь
                </li>
                <li class="vacancy-about-item">
                    Подбор фона, шрифтов и подготовка для инфографики
                </li>
            </ul>
        </div>
        <div class="vacancy-about">
            <p class="vacancy-about-header">Требования:</p>
            <ul class="vacancy-about-items">
                <li class="vacancy-about-item">
                    Законченное образование в сфере IT
                </li>
                <li class="vacancy-about-item">
                    Умение работать в режиме многозадачности
                </li>
                <li class="vacancy-about-item">
                    Опыт работы с электротоварами
                </li>
            </ul>
        </div>
        <div class="vacancy-about">
            <p class="vacancy-about-header">Условия:</p>
            <ul class="vacancy-about-items">
                <li class="vacancy-about-item">
                    График: 5/2 8:00-16:30
                </li>
                <li class="vacancy-about-item">
                    Соц. пакет: корпоративные обеды, компенсация проезда, 13 зарплата
                </li>
                <li class="vacancy-about-item">
                    Выплаты ЗП 2 раза в месяц
                </li>
            </ul>
        </div>
        <div class="vacancy-about">
            <p class="vacancy-about-header">Контакты:</p>
            <ul class="vacancy-about-items">
                <li class="vacancy-about-item">
                    Кузьминых Наталья, 89025436599
                </li>
                <li class="vacancy-about-item">
                    Терентьев Виктор, 89433335677
                </li>
            </ul>
        </div>
    </main>
    <footer class="vacancy-info-footer">
        <nav class="vacancy-info-footer-nav">
            <ul class="footer-site-navigation">
                <li class="footer-site-navigation-item">
                    <a href="">Контакты</a>
                </li>
                <li class="footer-site-navigation-item">
                    <a href="">О нас</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>