<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="../../static/css/new_css/vacancies.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="vacancies-header">
        <nav class="vacancies-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="../../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <a class="personal-cabinet-logo" href="#">
                <img src="../../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
            </a>
        </nav>
    </header>
    <main class="vacancies-main">
        <div class="vacancies-shown">
            <div class="vacancies-filter for">
                <a href="#" class="vacancies-filter-text for">Вакансии для вас</a>
            </div>
            <div class="vacancies-filter all">
                <a href="#" class="vacancies-filter-text all">Все вакансии</a>
            </div>
        </div>
        {% for vac in vacs %}
            <div class="vacancy">
                <div class="vacancy-info">
                    <p class="vacancy-info-head">{{vac.name}}</p>
                    <p class="vacancy-info-salary">{{vac.salary_info}}</p>
                    <p class="vacancy-info-company">{{vac.company_name}}</p>
                    <p class="vacancy-info-workplace">{{vac.location}}</p>
                    <a href="{% url 'vacancy_detail' vac.id %}" class="vacancy-apply-button"><p class="button-text">Перейти</p></a>
                </div>
                <button type="button" class="favorite-vacancy-button" title="heart-button"></button>
                <script>
                  const button = document.querySelector('.favorite-vacancy-button');
                  button.addEventListener('click', () => {
                      button.classList.toggle('active');
                  });
                </script>
            </div>
        {% endfor %}
<!--        <div class="vacancy">-->
<!--            <div class="vacancy-info">-->
<!--                <p class="vacancy-info-head">Начинающий разработчик</p>-->
<!--                <p class="vacancy-info-salary">от 50000 Р на руки</p>-->
<!--                <p class="vacancy-info-company">ООО Альянс</p>-->
<!--                <p class="vacancy-info-workplace">Екатеринбург</p>-->
<!--                <button type="button" class="vacancy-apply-button">Откликнуться</button>-->
<!--            </div>-->
<!--            <div class="vacancy-buttons">-->
<!--                <button type="button" class="hide-vacancy-button">Скрыть</button>-->
<!--                <button type="button" class="add-vacancy-button">+</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="vacancy">-->
<!--            <div class="vacancy-info">-->
<!--                <p class="vacancy-info-head">Оператор 1C</p>-->
<!--                <p class="vacancy-info-salary">от 50000 Р на руки</p>-->
<!--                <p class="vacancy-info-company">ООО Альянс</p>-->
<!--                <p class="vacancy-info-workplace">Екатеринбург</p>-->
<!--                <button type="button" class="vacancy-apply-button">Откликнуться</button>-->
<!--            </div>-->
<!--            <div class="vacancy-buttons">-->
<!--                <button type="button" class="hide-vacancy-button">Скрыть</button>-->
<!--                <button type="button" class="add-vacancy-button">+</button>-->
<!--            </div>-->
<!--        </div>-->
    </main>
    <footer class="vacancies-footer">
        <nav class="vacancies-footer-nav">
            <ul class="footer-site-navigation">
                <li class="footer-site-navigation-item">
                    <a href="">Контакты</a>
                </li>
                <li class="footer-site-navigation-item">
                    <a href="">О нас</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>
