html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.resume-info-header {
  margin: 0;
  padding: 0;
  background-color: black;
}

.resume-info-nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.resume-info-main {
  margin: 0;
  padding: 30px 0;
  background: url(../../img/new_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.resume {
  padding: 25px;
  width: 860px;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.resume-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.resume-info-head {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}

.resume-info-salary {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: black;
  font-size: 24px;
  font-weight: 400;
}

.resume-info-company {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.resume-info-workplace {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
}

.resume-apply-button {
  margin: 0;
  padding: 0;
  color: white;
  border: none;
  border-radius: 15px;
  background: #00c4a9;
  width: 200px;
  height: 60px;

  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.resume-apply-button:hover {
  background: rgba(0, 196, 169, 0.5);
}

.resume-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.resume-buttons button {
  margin: 0;
  padding: 0;
  color: black;
  border: none;
  background: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

.resume-buttons button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.resume-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(108, 108, 108, 0.4);
  border-radius: 20px;
  padding: 30px;
}

.resume-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 850px;
}

.resume-about-header {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: black;
}

.resume-about-items {
  margin: 0;
  padding: 0;
}

.resume-about-items.achievments {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
}

.resume-about-item {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: flex;
}

.resume-info-footer {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.resume-info-footer-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 50px;
}

.footer-site-navigation {
  padding: 0;
  padding-left: 60px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 75px;

}

.footer-site-navigation-item a {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .resume-info-main {
    gap: 20px;
  }

  .resume-info-nav {
    padding: 0 5px;
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .resume-info-nav a img {
    width: 50px;
    height: 50px;
  }

  /* Резюме */
  .resume {
    width: 85%;
    flex-direction: column;
    gap: 20px;
  }

  .resume-info {
    gap: 15px;
  }

  .resume-info-head {
    font-size: 24px;
  }

  .resume-info-salary, .resume-info-workplace {
    font-size: 18px;
  }

  .resume-buttons {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .resume-buttons button {
    font-size: 16px;
  }

  .resume-block {
    width: 85%;
    padding: 20px;
    gap: 15px;
  }

  .resume-about {
    width: 100%;
  }

  .resume-about-header {
    font-size: 24px;
  }

  .resume-about-item {
    font-size: 18px;
  }

  .resume-about-items.achievments {
    flex-wrap: wrap;
    justify-content: center;
  }

  .resume-about-items.achievments .resume-about-item {
    width: 90px;
    height: auto;
  }

  .resume-about-items.achievments img {
    width: 90px;
    height: 110px;
  }

  .resume-info-footer {
    height: auto;
    padding: 20px 0;
    justify-content: center;
  }

  .resume-info-footer-nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-site-navigation {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-site-navigation-item a {
    font-size: 20px;
  }
}
