html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

.main-page-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-page-nav {
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px; /* Отступы по бокам */
}

.main-page-main {
    margin: 0;
    padding: 0;
    flex: 1; /* Позволяет главному контенту занимать оставшееся пространство */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.main-block-header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: left;
}

.main-block-button {
    display: flex;
    width: 200px;
    height: 60px;
    background-color: #00c4a9;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
}

.main-block-button a {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: white;
    text-decoration: none;
}

.main-block-button:hover {
    background-color: rgba(0, 196, 169, 0.5);
}

.main-page-footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center; /* Центрируем футер */
    width: 100%;
}

.main-page-footer-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 50px;
}

.footer-site-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 75px;
}

.footer-site-navigation-item a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
}

@media screen and (max-width: 1279px) {
    .main-page-header {
        height: auto;
    }

    .main-block-header {
        font-size: 5vh;
        line-height: 1;
    }

    .main-block-button {
        width: 100%;
        height: 7vh;
    }

    .main-block-button a {
        font-size: 4.5vh;
    }

    .footer-site-navigation-item a {
        font-size: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
    }

    .main-page-main {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20%;
    }
}

@media screen and (max-width: 1023px) {
    .main-page-header {
        height: auto;
    }

    .main-block-header {
        font-size: 5vh;
        line-height: 1;
    }

    .main-block-button {
        width: 100%;
        height: 7vh;
    }

    .main-block-button a {
        font-size: 4.5vh;
    }

    .footer-site-navigation-item a {
        font-size: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
    }

    .main-page-main {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20%;
    }
}

@media screen and (max-width: 767px) {
    .main-page-header {
        height: auto;
    }

    .main-block-header {
        font-size: 5vh;
        line-height: 1;
        max-width: 100%;
    }

    .main-block-button {
        width: 100%;
        height: 8vh;
    }

    .main-block-button a {
        font-size: 4vh;
    }

    .footer-site-navigation-item a {
        font-size: 3vh;
    }

    .main-page-main {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20%;
    }
}