body {
  margin: 0;
  padding: 0;
}

.otkliks-header {
  margin: 0;
  padding: 0;
  background-color: black;
}

.otkliks-nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.part-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 58px;
  background-color: rgba(0, 196, 169, 1);
  border-radius: 20px;
}

.nav-link:hover {
  background-color: rgba(0, 196, 169, 0.5);
}

.nav-link.back, .nav-link.log-out {
  width: 200px;
}

.nav-link a {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: white;
  text-decoration: none;
}

.nav-link .back {
  width: 220px;
}

.otkliks-main {
  margin: 0;
  padding: 50px 0 150px 0;
  background-image: url("../../img/lk_work_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  transition: background-size 0.3s ease;
}

.otkliks {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.otkliks-text {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  color: #565656;
}

.js-main {
  width: 950px;
  padding: 25px;
  height: auto;
  background-color: rgba(230, 230, 230, 1);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.salary {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.company {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.city {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.delete-button {
  background: none;
  border: none;

  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: black;
  align-self: start;
}

.delete-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.otkliks-footer {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.otkliks-footer-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 50px;
}

.footer-site-navigation {
  padding: 0;
  padding-left: 60px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 75px;
}

.footer-site-navigation-item a {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  text-align: left;
}
