html, body {
    height: 100%; /* Задаем высоту 100% для html и body */
    margin: 0; /* Убираем отступы */
    display: flex; /* Используем Flexbox для body */
    flex-direction: column; /* Устанавливаем вертикальное направление */
}

body {
    background-image: url("../../img/work_page.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.registartion-header {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%; /* Растягиваем хедер на всю ширину */
}

.registartion-header-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Убедимся, что навигация тоже на всю ширину */
}

.registration-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Позволяет главному контенту занимать оставшееся пространство */
}

.registartion-window {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 650px; /* Ширина окна */
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px; 
    align-self: center;
    padding-top: 25px;
    margin: 0 auto 50px; /* Центрируем окно и добавляем нижний отступ */
}

.registartion-text-header {
    margin: 50px 0 35px 0;
    padding: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    color: black;
}

.registartion-window-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.registartion-window-button {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 25px;

    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: white;

    width: 210px;
    height: 72px;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 196, 169, 1);
}

.registartion-window-button:hover {
    background-color: rgba(217, 217, 217, 0.5);
}

.comment-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 40px;
    border-style: none;
    border-radius: 30px;
    background-color: #D9D9D9;

    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.comment-field::placeholder {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.39);
    text-align: center;
}

.registration-work-footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    width: 100%; /* Растягиваем футер на всю ширину */
}

.registration-work-footer-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 50px;
}

.footer-site-navigation {
    padding: 0;
    padding-left: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 75px;
}

.footer-site-navigation-item a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 1279px) {
    .registartion-text-header {
        font-size: 48px; /* Уменьшение размера заголовка */
        line-height: 56px; /* Уменьшение высоты строки */
    }

    .comment-field {
        width: 90%; /* Увеличиваем ширину поля ввода для мобильных */
    }

    .registartion-window-button {
        font-size: 36px; /* Уменьшение размера шрифта для кнопок */
        width: 150px; /* Уменьшение ширины кнопок */
        height: 50px; /* Уменьшение высоты кнопок */
    }
}

@media screen and (max-width: 1023px) {
    .registartion-window {
        width: 90%; /* Увеличение ширины окна для мобильных устройств */
        padding: 20px; /* Добавление отступов */
    }

    .registartion-text-header {
        font-size: 36px; /* Дальнейшее уменьшение размера заголовка */
        line-height: 44px; /* Уменьшение высоты строки */
    }
}

@media screen and (max-width: 767px) {
    .registartion-text-header {
        font-size: 5vh; 
        line-height: 1; 
    }

    .comment-field {
        width: 100%; 
    }

    .registartion-window-button {
        font-size: 4vh; 
        width: 100%; 
        height: 40px; 
        padding-bottom: 60px;
    }
}