body {
    margin: 0;
    padding: 0;
}

.vacancy-info-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.vacancy-info-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.vacancy-info-main {
    margin: 0;
    padding: 30px 0;
    background: url(../../img/new_bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.vacancy {
    padding: 25px;
    width: 860px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.vacancy-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vacancy-info-head {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.vacancy-info-salary {
    margin: 0;
    padding: 0;
    font-family: Inter;
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.vacancy-info-company {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.vacancy-info-workplace {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.vacancy-apply-button {
    margin: 0;
    padding: 0;
    color: white;
    border: none;
    border-radius: 15px;
    background: #00c4a9;
    width: 200px;
    height: 60px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.vacancy-apply-button:hover {
    background: rgba(0, 196, 169, 0.5);
}

.vacancy-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.vacancy-buttons button {
    margin: 0;
    padding: 0;
    color: black;
    border: none;
    background: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.vacancy-buttons button:hover {
    color: rgba(0, 0, 0, 0.5);
}

.vacancy-block {
    background-color: rgba(131, 131, 131, 0.4);
    border-radius: 20px;
    padding: 30px;
}

.vacancy-about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 850px;
}

.vacancy-about-header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    color: black;
}

.vacancy-about-items {
    margin: 0;
    padding: 0;
}

.vacancy-about-item {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: black;
}

.vacancy-info-footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.vacancy-info-footer-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 50px;
}

.footer-site-navigation {
    padding: 0;
    padding-left: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 75px;
}

.footer-site-navigation-item a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
}