body {
    margin: 0;
    padding: 0;
}

.button-text{
    margin-top: 17px;

}
.vacancies-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.vacancies-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.vacancies-main {
    margin: 0;
    padding: 30px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.vacancies-shown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 850px;
}

.vacancies-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border-radius: 20px;
    background-color: rgba(219, 219, 219, 1);
}

.vacancies-filter.for {
    width: 350px;
}

.vacancies-filter.all {
    width: 280px;
}

.vacancies-filter-text {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    color: black;
    text-decoration: none;
}

.vacancy {
    padding: 25px;
    width: 800px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.vacancy-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vacancy-info-head {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.vacancy-info-salary {
    margin: 0;
    padding: 0;
    font-family: Inter;
    color: black;
    font-size: 24px;
    font-weight: 400;
}

.vacancy-info-company {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.vacancy-info-workplace {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.vacancy-apply-button {
    margin-top: 0;
    padding: 0;
    color: white;
    border: none;
    border-radius: 15px;
    background: #00c4a9;
    width: 200px;
    height: 60px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.vacancy-apply-button:hover {
    background: rgba(0, 196, 169, 0.5);
}

.favorite-vacancy-button {
  background-color: transparent;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.favorite-vacancy-button::before,
.favorite-vacancy-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 7px;
  width: 12px;
  height: 20px;
  background-color: black;
  border-radius: 12px 12px 0 0;
  transition: background-color 0.3s;
}

.favorite-vacancy-button::after {
  left: 0;
  transform: rotate(-45deg);
}

.favorite-vacancy-button::before {
  transform: rotate(45deg);
}

.favorite-vacancy-button.active::before,
.favorite-vacancy-button.active::after {
  background-color: red;
}

.vacancies-footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.vacancies-footer-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 50px;
}

.footer-site-navigation {
    padding: 0;
    padding-left: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 75px;
}

.footer-site-navigation-item a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-input {
  margin: 0;
  padding: 0;
  width: 750px;
  height: 50px;
  border: 2px solid black;
  border-radius: 15px;

  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
}

.search-form {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.search button {
  width: 44px;
  height: 50px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.search button i {
  font-size: 32px;
}

.search button:hover {
  background: rgba(0, 196, 169, 0.5);
  color: white;
}
