html, body {
    height: 100%; /* Задаем высоту 100% для html и body */
    margin: 0; /* Убираем отступы */
    display: flex; /* Используем Flexbox для body */
    flex-direction: column; /* Устанавливаем вертикальное направление */
}

body {
    background-image: url("../../img/work_page.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.work-header {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%; /* Растягиваем хедер на всю ширину */
}

.work-header-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Убедимся, что навигация тоже на всю ширину */
}

.work-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Позволяет главному контенту занимать оставшееся пространство */
}

.work-window {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 650px; /* Ширина окна */
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    align-self: center; /* Центрирование */
    padding-top: 25px;
    margin: 0 auto 50px; /* Центрируем окно и добавляем нижний отступ */
}

.work-window-info {
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 50px 0;
}

.work-window-info-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-window-info-part__text {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #dddddd;
}

.work-text-header {
    margin: 50px 0 35px 0;
    padding: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    color: black;
}

.work-window-button {
    padding: 0;
    margin-top: 16px;
    align-content: center;

    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    color: white;
    text-decoration: none;

    width: 170px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 196, 169, 1);
}

.work-window-button.registration {
    width: 270px;
    height: 65px;
}

.work-window-button:hover {
    background-color: rgba(217, 217, 217, 0.5);
}

.work-footer {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    width: 100%; /* Растягиваем футер на всю ширину */
}

.work-footer-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 50px;
}

.footer-site-navigation {
    padding: 0;
    padding-left: 60px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 75px;
}

.footer-site-navigation-item a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .work-text-header {
        font-size: 5vh; /* Уменьшение размера заголовка для мобильных */
        line-height: 1; /* Уменьшение высоты строки */
    }

    .work-window {
        width: 100%;
        border-radius: 20px;
    }

    .work-window-info {
        gap: 30px;
        padding: 20px 0;
    }

    .work-window-info-part__text {
        font-size: 20px;
    }

    .work-window-button {
        font-size: 3.5vh;
        width: 100%;
        height: 40px;
        padding-bottom: 20px;
    }

    .work-window-button.registration {
        width: 100%;
        padding-bottom: 0;
        font-size: 4vh;
    }

    .footer-site-navigation-item a {
        font-size: 20px;
    }
    .footer-site-navigation {
        display: flex;
        padding-left: 40px;
        justify-content: space-between;
    }
}
