<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AboutUs</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="about-header">
        <nav class="about-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <a class="about-logo" href="#">
                <img src="../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
            </a>
        </nav>
    </header>
    <main class="about-main">
        <div class="about-main-info">
            <p class="about-main-info-header">О нас</p>
            <div class="about-main-info-text">
                <p class="about-main-info-paragraph">Добро пожаловать на нашу страницу!<br>
                    Мы — небольшая, но амбициозная группа<br>
                    студентов из Уральского федерального<br>
                    университета, Института радиоэлектроники и<br>
                    информационных технологий-РТФ.</p>
                <p class="about-main-info-paragraph">Наша команда состоит из пяти увлеченных и<br>
                    целеустремленных студентов, которые<br>
                    объединены общей целью — создавать<br>
                    инновационные решения и развивать свои навыки<br>
                    в области информационных технологий.</p>
                <div class="block team">
                    <p class="block-header team">Наша команда</p>
                    <p class="about-main-info-paragraph">
                        <span>Макар Рыбкин</span><br>
                        Специализация: Аналитик<br>
                        Макар занимается сбором и анализом данных,<br>
                        помогая команде принимать обоснованные<br>
                        решения.
                    </p>
                    <p class="about-main-info-paragraph">
                        <span>Сергей Ситдиков</span><br>
                        Специализация: Бекенд-разработка<br>
                        Сергей — опытный бекенд-разработчик, который<br>
                        создает надежные и масштабируемые серверные<br>
                        решения.
                    </p>
                    <p class="about-main-info-paragraph">
                        <span>Никита Чебаненко</span><br>
                        Специализация: Фронтенд-разработка<br>
                        Никита — талантливый фронтенд-разработчик,<br>
                        который создает интуитивно понятные и<br>
                        привлекательные пользовательские интерфейсы.
                    </p>
                    <p class="about-main-info-paragraph">
                        <span>Владислав Патрокеев</span><br>
                        Специализация: Дизайнер<br>
                        Владислав — креативный дизайнер, который<br>
                        отвечает за визуальную составляющую наших<br>
                        проектов.
                    </p>
                    <p class="about-main-info-paragraph">
                        <span>Кирилл Лисов</span><br>
                        Специализация: Тимлид<br>
                        Кирилл — наш тимлид, который координирует<br>
                        работу команды и обеспечивает эффективное<br>
                        взаимодействие между участниками.
                    </p>
                </div>
                <div class="block project">
                    <p class="block-header project">Наш проект</p>
                    <p class="about-main-info-paragraph">
                        Мы разработали сервис для поиска работы,<br>
                        который помогает соискателям находить<br>
                        подходящие вакансии и работодателям —<br>
                        находить талантливых специалистов. Наша<br>
                        платформа предлагает удобный интерфейс,<br>
                        фильтры для поиска и возможность создания<br>
                        персонализированных профилей, что делает<br>
                        процесс поиска более эффективным и удобным.
                    </p>
                </div>
                <div class="block contacts">
                    <p class="block-header contacts">Связь с нами</p>
                    <p class="about-main-info-paragraph">
                        Если у вас есть вопросы или вы хотите узнать<br>
                        больше о нашей команде и проектах, не<br>
                        стесняйтесь связаться с нами по электронной<br>
                        почте: codeubezhishe@gmail.com
                    </p>
                </div>
                <p class="about-main-info-paragraph">Спасибо за интерес к нашей команде! Мы всегда<br>
                    открыты для новых идей и сотрудничества.</p>
            </div>
        </div>
    </main>
</body>
</html>