<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="login-header">
        <nav class="login-header-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="/static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
        </nav>
    </header>
    <main class="login-main">
        <div class="login-window">
            <h2 class="login-text-header">Вход</h2>
            <form class="login-window-input" method="post">
                {% csrf_token %}

                <div class="comment-form">
                    <div class="comment-inner comment-form">
                      <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="comment-field" placeholder="Адрес электронной почты" required id="comment-input-email" name="username">
                    </div>
                </div>
                <div class="comment-form">
                    <div class="comment-inner">
                      <input type="password" class="comment-field" placeholder="Пароль" required id="comment-input-password" name="password">
                    </div>
                </div>

                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}
                    {% if f.errors %}
                        <div class="form-error">{{ f.errors }}</div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="login-window-button">
                    Войти
                </button>
            </form>
        </div>
    </main>
</body>
</html>