<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakeResume</title>
    <link rel="stylesheet" href="../static/css/make_resume.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="create-resume-header">
        <nav class="create-resume-nav">
            <a class="logo" href="{% url 'start_page' %}">
                <img src="../static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <a class="personal-cabinet-logo" href="{% url 'personal_cabinet' %}">
                <img src="../static/img/personal_cabinet_logo.png" width="60" height="60" alt="Логотип персонального кабинета">
            </a>
        </nav>
    </header>
    <main class="create-resume-main">
        <div class="main-field-info personal-info">
            <p class="main-field-info-header personal-info-header">
                Личная информация
            </p>
            <form class="main-fields personal-info" method="post">
                {% csrf_token %}
                <div class="main-field fname">
                    <label for="fname" class="main-field-header">Имя</label>
                    <input
                        type="text"
                        id="fname"
                        class="main-input-field"
                        pattern="[A-Za-zА-Яа-яЁё]{2,}"
                        name="first_name"
                        required>
                </div>
                <div class="main-field lname">
                    <label for="lname" class="main-field-header">Фамилия</label>
                    <input
                        type="text"
                        id="lname"
                        class="main-input-field"
                        pattern="[A-Za-zА-Яа-яЁё]{1,}"
                        name="last_name"
                        required>
                </div>
                <div class="main-field sex">
                    <label for="sex-choice" class="main-field-header">Ваш пол</label>
                    <select id="sex-choice" name="gender">
                        <option value="Other" disabled selected>Выберите из списка</option>
                        <option value="Male">Мужской</option>
                        <option value="Female">Женский</option>
                    </select>
                </div>
                <div class="main-field age">
                    <label for="age" class="main-field-header">Возраст</label>
                    <input
                        type="text"
                        id="age"
                        class="main-input-field"
                        pattern="[0-9]{1,}"
                        name="age"
                        required>
                </div>
                <div class="main-field email">
                    <label for="email" class="main-field-header">Электронная почта</label>
                    <input
                        type="email"
                        id="email"
                        class="main-input-field"
                        name="email"
                        required>
                </div>
                <div class="main-field phone">
                    <label for="phone" class="main-field-header">Номер телефона</label>
                    <input
                        type="tel"
                        id="phone"
                        class="main-input-field"
                        name="phone_number"
                        placeholder="+7 (___) ___-__-__"
                        required>
                </div>
                <div class="main-field work-experience">
                    <label for="work-experience" class="main-field-header">Опыт работы</label>
                    <select id="work-experience" name="work_experience">
                        <option value="NoExperience">Нет опыта</option>
                        <option value="1Year">1 год</option>
                        <option value="1to3Years">1-3 года</option>
                        <option value="3PlusYears">3+ года</option>
                    </select>
                </div>
                <div class="main-field desired-salary">
                    <label for="desired-salary" class="main-field-header">Желаемый оклад (в рублях)</label>
                    <input
                        type="number"
                        id="desired-salary"
                        min="0"
                        step="1000"
                        class="main-input-field"
                        name="desired_salary"
                        placeholder="100000"
                        required>
                </div>
                <div class="main-field personal-qualities">
                    <label for="personal-qualities" class="main-field-header">Личные качества</label>
                    <textarea
                        id="personal-qualities"
                        class="main-input-field"
                        name="personal_qualities"
                        rows="4"
                        maxlength="1000"
                        required></textarea>
                </div>
                {% for f in form %}
                    {% if f.errors %}
                        <div class="form-error">{{ form.errors }}</div>
                    {% endif %}
                {% endfor %}
                <button type="submit">Сохранить</button>
            </form>

        </div>
    </main>
    <script src="../static/js/make_resume/make_resume.js"></script>
</body>
</html>