<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registartion</title>
    <link rel="stylesheet" href="/static/css/registration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="registartion-header">
        <nav class="registartion-header-nav">
            <a class="logo" href="#">
                <img src="/static/img/logo_start.png" width="86" height="86" alt="Логотип КодовоеУбежище">
            </a>
        </nav>
    </header>
    <main class="registration-main">
        <div class="registartion-window">
            <h2 class="registartion-text-header">Регистрация</h2>
            <div class="registartion-window-input">
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Имя</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Фамилия</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Пол (мужской/женский)</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Возраст</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Соискатель / Работодатель</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Адрес электронной почты</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Пароль</p>
                </div>
                <div class="registartion-window-input-text">
                    <p class="window-input-text">Подтверждение пароля</p>
                </div>
            </div>
            <button type="button" class="registartion-window-button">
                Далее
            </button>
        </div>
    </main>
</body>
</html>