<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ResumeHelper</title>
    <link rel="stylesheet" type="text/css" href="/static/css/start_page_css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="page-header">
        <nav class="start-page-header-nav">
            <a class="logo">
                <img src="/static/img/logo_start.png" width="60" height="60" alt="Логотип КодовоеУбежище">
            </a>
            <ul class="site-navigation">

<!--                <li class="site-navigation-item">-->
<!--                    <a href="{% url 'create_vacancy' %}">Создание вакансии</a>-->
<!--                </li>-->
                {% if request.user.is_authenticated %}
                <li class="site-navigation-item">
                    <a href="{% url 'create_resume' %}">Создание резюме</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{% url 'vacs_view' %}">Посмотреть вакансии</a>
                </li>
				<li class="site-navigation-item">
                    <a href="{% url 'logout' %}">Выйти</a>
                </li>
                {% else %}
                <li class="site-navigation-item">
                    <a href="{% url 'register' %}">Регистрация</a>
                </li>
                <li class="site-navigation-item">
                    <a href="{% url 'login' %}">Вход</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="start_page_main">
        <p class="start_page_text">Работа найдется легко!</p>
        <div class="start-page-input-field">
            <a class="input-field-logo" href="#">
                <img src="/static/img/input-field-logo.png" width="37" height="49" alt="Лупа">
            </a>
            <form action="#" method="post" class="comment-form">
                <div class="comment-inner">
                  <input type="text" class="comment-field" placeholder="Профессия, должность или компания" required id="input-field-text-id">
                </div>
            </form>
        </div>
    </main>
    <footer class="start_page_footer">
        <nav class="start-page-footer-nav">
            <ul class="footer-site-navigation">
                <li class="footer-site-navigation-item">
                    <a href="#">Помощь</a>
                </li>
                <li class="footer-site-navigation-item">
                    <a href="#">Контакты</a>
                </li>
                <li class="footer-site-navigation-item">
                    <a href="#">О нас</a>
                </li>
            </ul>
            <a class="footer-item">
                <img src="/static/img/footer_item.png" width="198" height="96" alt="Логотип КодовоеУбежище">
            </a>
        </nav>
    </footer>
</body>
</html>