body {
    margin: 0;
    padding: 0;
}

.about-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.about-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.about-main {
    margin: 0;
    padding: 0;
    background-image: url("../../static/img/about_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
}

.about-main-info-header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 56px;
    font-weight: 500;
    color: black;
}

.about-main-info-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 245, 245, 0.5);
    border-radius: 30px;
    padding: 20px 0;
    width: 700px;
}

.about-main-info-paragraph {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.about-main-info-paragraph span {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    color: black;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block-header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    color: black;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .about-main-info-header {
        font-size: 48px;
    }

    .about-main-info-text {
        width: 90%;
    }

    .about-main-info-paragraph {
        font-size: 22px;
    }

    .block-header {
        font-size: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .about-main-info-header {
        font-size: 36px;
    }

    .about-main-info-text {
        width: 100%;
        padding: 15px 0;
    }

    .about-main-info-paragraph {
        font-size: 20px;
    }

    .block-header {
        font-size: 32px;
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .about-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;

    }

    .about-main-info-header {
        font-size: 28px;
    }

    .about-main-info-text {
        padding: 10px 0;
    }

    .about-main-info-paragraph {
        font-size: 18px;
    }

    .block-header {
        font-size: 24px;
    }
}