body {
    margin: 0;
    padding: 0;
}

.personal-cabinet-work-header {
    margin: 0;
    padding: 0;
    background-color: black;
}

.personal-cabinet-work-nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.personal-cabinet-work-main {
    margin: 0;
    padding: 0;
    background-image: url("../../static/img/personal_cabinet_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-cabinet-work-fields {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

.personal-cabinet-work-info {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 5px;
}

.personal-cabinet-work-info-header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    align-self: left;
    color: white;
}

.personal-cabinet-work-info-window {
    width: 850px;
    padding: 30px;
    padding-bottom: 15px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: space-between;
}

.personal-cabinet-work-info-data {
    display: flex;
    flex-direction: column;
}

.personal-cabinet-work-info-data {
    gap: 80px;
}

.info-fname {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 77.45px;
    align-self: left;
    max-width: 510px;
    white-space: nowrap;
    overflow: hidden;
}

.info-lname {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 77.45px;
    align-self: left;
    max-width: 510px;
    white-space: nowrap;
    overflow: hidden;
}

.edit-info-data-button {
    background: rgba(217, 217, 217, 1);
    width: 175px;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.8);

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.edit-info-data-button:hover {
    background: rgba(217, 217, 217, 0.5);
}

.info-image {
    border-radius: 15px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field .header {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    align-self: left;
    color: white;
}

.field .window {
    width: 850px;
    padding: 10px 20px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: space-between;
}

.field-columns {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.field-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field-column.main {
    width: 150px;
}

.field p {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: black;
}

.field-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field-button {
    margin: 0;
    padding: 0;
    color: rgba(0, 196, 169, 1);
    border: none;
    background: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.field-button:hover {
    color: rgba(0, 196, 169, 0.5);
}
